:root {
  --secondary: #4f1507;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--secondary);
  color: var(--secondary);
}

.secondary {
  color: var(--secondary);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: var(--secondary);
  padding: 15px 0px;
  position: sticky;
  top: 0;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.active {
  text-decoration: underline;
}

.main-content-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-content {
  width: 80%;
}

.section {
  /* height: 80vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.schedule-section {
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.rest-section {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-image {
  width: 100%;
  height: auto;
}

.main-image {
  width: 100%;
  height: auto;
}

.header-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.title {
  font-family: 'Alex Brush', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  color: white;
}

.section-image {
  max-height: 4em;
}

.upper-section-image {
  margin: 2em;
}

.lower-section-image {
  margin-top: 2em;
}

.width-100 {
  width: 100%;
}

/* TODO: media-query */
.section-content {
  width: 60%;
}

.guest-entry-container {
  margin: 5px;
  gap: 5px;
}

.guest-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: var(--secondary) 0.5px solid;
  /* padding: 0 10px 0 10px; */
}

.guest-entry-button-container {
  gap: 2px;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  color: var(--secondary);
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59-primary {
  background-color: var(--secondary);
  color: #fff;
}

.button-59:focus {
  color: var(--secondary);
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:disabled {
  color: #666666;
  border: 1px solid #666666;
  background-color: #cccccc;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}
