:root {
  --secondary: #7a3b23;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: var(--secondary);
  color: var(--secondary);
  font-size: 20px;
}

.secondary {
  color: var(--secondary);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: var(--secondary);
  padding: 15px 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: white;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.main-content-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-content {
  width: 80%;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.schedule-section {
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.rest-section {
  background-color: white;
  border-radius: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 100%;
  height: auto;
}

.title {
  font-family: 'Alex Brush', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  color: white;
  margin-top: 10px;
}

.section-image {
  max-height: 4em;
}

.upper-section-image {
  margin: 2em;
}

.width-100 {
  width: 100%;
}

.section-content {
  width: 60%;
}

@media screen and (max-width: 1100px) {
  .section-content {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .section-content {
    width: 90%;
  }
}

.guest-entry-container {
  margin: 5px;
  gap: 5px;
}

.guest-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: var(--secondary) 0.5px solid;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  color: var(--secondary);
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59-primary {
  background-color: var(--secondary);
  color: #fff;
}

.button-59:hover {
  background-color: #e0a96d;
  transform: scale(1.05);
}

.button-59-primary:hover {
  background-color: #e0a96d;
  transform: scale(1.05);
  color: var(--secondary);
}

.button-59:active {
  border-color: #3b8a7a;
  color: #3b8a7a;
  fill: #3b8a7a;
}

.button-59:disabled {
  color: #666666;
  border: 1px solid #666666;
  background-color: #cccccc;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.form-input {
  margin-bottom: 15px;
}

input[type='radio'] {
  accent-color: var(--secondary);
}

input[type='checkbox'] {
  accent-color: var(--secondary);
}

.diet-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .diet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
